@charset "utf-8";
/*注册*/
.g-reg{ position:relative;height:100vh; overflow:hidden;display: flex;justify-content: center;align-items: center;  }
.g-regradius{ position:absolute; z-index:1; width:880px; top:0; bottom:0; left:50%; margin-left:-440px;}
.g-regradius img{position:absolute;}
.g-regradius img:nth-child(1){ -webkit-animation: balloon1 5s ease-in-out infinite;
-moz-animation: balloon1 5s ease-in-out infinite;
-o-animation: balloon1 5s ease-in-out infinite;
animation: balloon1 5s ease-in-out infinite;}
.g-regradius img:nth-child(2){ -webkit-animation: balloon2 10s ease-in-out infinite;
-moz-animation: balloon2 10s ease-in-out infinite;
-o-animation: balloon2 10s ease-in-out infinite;
animation: balloon2 10s ease-in-out infinite;}
.g-regradius img:nth-child(3){ -webkit-animation: balloon3 6s ease-in-out infinite;
-moz-animation: balloon3 6s ease-in-out infinite;
-o-animation: balloon3 6s ease-in-out infinite;
animation: balloon3 6s ease-in-out infinite;}
.g-regradius img:nth-child(4){ -webkit-animation: balloon4 5s ease-in-out infinite;
-moz-animation: balloon4 5s ease-in-out infinite;
-o-animation: balloon4 5s ease-in-out infinite;
animation: balloon4 5s ease-in-out infinite;}
.g-regradius img:nth-child(5){ -webkit-animation: balloon1 5s ease-in-out infinite;
-moz-animation: balloon1 5s ease-in-out infinite;
-o-animation: balloon1 5s ease-in-out infinite;
animation: balloon1 5s ease-in-out infinite;}
.g-regline{ position:absolute; z-index:1;}
.g-regline img{position:absolute; bottom:0; left:50%;}
.g-regin{z-index:2; width:660px;}
.g-regin.g-loginin{ margin-top:-240px;}
.m-regbox{ box-shadow:0 6px 20px #b2dff5; border-radius:4px;}
.m-regbox .m-box-left.m-regbox-left,.m-regbox .m-box-right.m-regbox-right{height:470px;}
.m-regbox .m-box-left{position:relative; z-index:3; width:320px; float:left;  border-radius:4px; background:url(../images/leftbg01.png) repeat-y right top;}
.m-regbox .m-box-left .m-pictop{position:absolute; top:0; left:-31px; }
.m-regbox .m-box-left .m-picbottom{position:absolute; bottom:0; right:-43px;}
.m-regbox .m-box-left .m-picmiddle{position:absolute;top:50%; margin-top:-107px; left:50%; margin-left:-133px;}
.m-regbox .m-box-left .m-picmiddle img{ width:267px; height:215px;
animation: fade-in;animation-duration: 1s; -webkit-animation:fade-in 1s;}
.m-regbox .m-box-right{width:350px; margin-left:-10px; float:left; border-radius:4px; background-color:#FFF;}
.m-regbox .m-box-right .m-boxr-in{width:280px; margin:0 auto; position:relative; left:5px;}
.m-boxr-in .m-boxr-title{color:#333; font-size:24px; line-height:24px; font-weight:400; padding:34px 0 28px 0;}
.m-boxr-in .m-boxr-title .m-title-link{ float:right; font-size:12px; color:#ADB5C1;}
.m-boxr-in .m-boxr-title .m-title-link:hover{color:#5FA3ED;}
.m-form .form-input .form-control{width:254px; padding:10px 12px 11px 12px; background-color:#FFF; border:1px #CCD1D9 solid; border-radius:3px; font-size:14px; color:#404040;}
.m-form .form-input.has-icon .form-control{width:226px; padding:10px 12px 11px 40px;}
.m-form .has-error{display:none;}
.m-form.has-error .icon-warning{}
.m-form.has-error .icon-warning img{width:14px; height:14px; margin:-1px 3px 0 0;}
.m-form.has-error .has-error{display:block; color:#e75845; font-size:12px; margin-top:5px;}
.m-form.has-error .form-input .form-control{border-color:#e75845;}
.m-form.form-group{margin-bottom:20px !important; margin-bottom:40px\0/;}
.m-form .form-input{position:relative;}
.m-form .form-input .m-formicon{display:block; position:absolute; width:40px; height:40px; left:0; top:0; z-index:2;}
.m-form .form-input .m-formicon img{display:block; width:18px; height:18px; margin:11px auto 0 auto;}
.m-form.m-form-bottom{margin-top:28px;}
.m-repsw{font-size:12px; color:#ADB5C1;}
.m-repsw .m-repsw-link{ float:right; color:#ADB5C1;}
.m-repsw .m-repsw-link:hover{color:#5FA3ED;}
.m-repsw .m-repsw-label:hover{cursor:pointer; }
.m-repsw .m-repsw-label input{margin:1px 4px 0 0; vertical-align:top;}
.m-btn{border-radius:50px; text-align:center; display:inline-block; overflow:hidden; color:#FFF; background-color: #609ee9;}
.m-btn:hover{background-color:#5493e0;}
.m-btn.m-btn-block{width:100%; display:block;}
.m-btn.m-btn-middle.m-jbbtn{padding:0; background:url(../images/btnbg01.png) repeat-y;}
.m-btn.m-btn-middle.m-jbbtn:hover{filter: alpha(opacity=90); -moz-opacity: 0.9; -webkit-opacity: 0.9; -ms-opacity: 0.9; -o-opacity: 0.9; opacity: 0.9;}
.m-btn.m-btn-middle{padding:0 32px; font-size:16px; height:40px; line-height:40px;}
.m-btn.m-btn-normal{padding:0 32px; font-size:14px; height:40px; line-height:40px; }
.m-btn.m-btn-small{ padding:0 38px; font-size:14px; height:40px; line-height:40px;}
.m-form.m-code .form-input .form-control{width:182px; padding:10px 84px 11px 12px;}
.m-form.m-code .form-input{position:relative;}
.m-form.m-code .form-input .m-code-link{display:block; border-left:1px #CCD1D9 solid; position:absolute; right:0; top:0; *top:2px; width:82px; text-align:center; height:40px; line-height:40px; overflow:hidden; color:#5FA3ED; }
.m-form.m-code.has-error .form-input .m-code-link{border-color:#e75845;}
.m-form .form-input .m-code-link.m-code-disabled .m-code-num{color:#999;}
.m-form .form-input .m-code-link.m-code-disabled:hover{cursor:default;}
.m-form .form-input .m-code-link .m-code-num{display:none;}
.m-form .form-input .m-code-link.m-code-disabled .m-code-num{display:block;}
.m-form .form-input .m-code-link.m-code-disabled .m-code-before{display:none;}
/*找回密码*/
.g-find{width:980px; margin:0 auto;}
.m-findpsw{ border: 1px #e9e9e9 solid; background-color:#FFF;}
.g-find .m-find-title{position:relative; padding:0 22px 0 12px; height:44px; line-height:44px; color:#434A54; font-size:14px; font-weight:bold;}
.g-find .m-find-title .m-find-line{position:absolute; top:50%; left:0; margin-top:-7px; display:inline-block; width:2px; height:14px; border-radius:10px; background-color:#E63732; }
.g-find .m-findpsw .m-find-content{padding:20px;}
.u-stepshop { margin: 0; padding: 30px 0 24px 0;}
.u-stepshop .u-stepshop-in { width: 100%; border-top: 3px #f0f0f0 solid; }
.u-stepshop .u-stepshop-in .u-step-item { margin: -21px 0 0 0;  padding: 0;  width:25%; *width:24.9%; float: left;  position: relative; text-align: center; }
.u-stepshop .u-stepshop-in .u-step-item .u-step-num { margin: 0 auto; width: 28px;  height: 28px;  line-height: 28px;  position: relative;  z-index: 2;border-radius: 50px;background-color: #E8E8E8; border: 6px #FFF solid;  text-align: center;font-size: 12px;color: #CCC;overflow: hidden; }
.u-stepshop .u-stepshop-in .u-step-item .u-step-num .mw-iconfont {font-size: 14px; }
.u-stepshop .u-stepshop-in .u-step-item .u-step-info {margin: 0;padding: 5px 0 0 0;color: #999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.u-stepshop .u-stepshop-in .u-step-item .u-step-line {margin: 0;padding: 0;position: absolute;top: 18px;left: 0;z-index: 1;width: 100%;height: 3px;border-radius: 50px;background-color: #E8E8E8; }
.u-stepshop .u-stepshop-in .u-step-item.u-step-doing .u-step-num {background-color: #2ECC71;color: #FFF; }
.u-stepshop .u-stepshop-in .u-step-item.u-step-doing .u-step-info {color: #333; }
.u-stepshop .u-stepshop-in .u-step-item.u-step-doing .u-step-line {background-color: #2ECC71; }
.u-stepshop.u-stepshop-order {width: 60%;float: left; }
.u-stepshop.u-stepshop-order .u-stepshop-in {border-top: none; }
.u-stepshop.u-stepshop-order .u-stepshop-in .u-step-item {margin-top: -15px;width: 25%; }
.u-stepshop.u-stepshop-order .u-stepshop-in .u-step-item .u-step-time {display: none;font-size: 12px;color: #999;margin-top: 10px; }
.u-stepshop.u-stepshop-order .u-stepshop-in .u-step-item.u-step-doing .u-step-time {display: block; }
.u-stepshop.u-stepshop-order .u-stepshop-in .u-step-item .u-step-num {width: 28px;height: 28px;line-height: 28px;border: 6px #FFF solid; }
.u-stepshop.u-stepshop-order .u-stepshop-in .u-step-item .u-step-num .mw-iconfont {font-size: 16px; }
.u-stepshop.u-stepshop-order .u-stepshop-in .u-step-item .u-step-line {top: 17px; }
.m-findbox{}
.g-find .m-form .form-input .form-control{font-size:12px; padding:12px;}
.m-form.m-hastitle .control-label{width:300px; line-height:20px; float:left; padding-right:14px; padding-top:10px; color:#6F7780; text-align:right; word-break:break-all; }
.m-form.m-hastitle .form-input{width:320px; float:left; color:#404040; }
.m-form.m-hastitle .form-input .form-control{width:294px;}
.m-form.m-piccode .form-input .form-control{width:160px;}
.m-form.m-piccode .form-input .u-piccode{position:absolute; right:0; top:0; display:block; width:120px;}
.m-form.m-piccode .form-input .u-piccode img{width:120px; height:40px;}
.m-form.m-piccode .form-input .u-piccode img:hover{cursor:pointer;}
.m-findbox .m-form.m-code .form-input .m-code-link{width:90px;}
.m-findbox .m-form.m-code.m-hastitle .form-input .form-control{width:218px; padding-right:126px;}
.m-findbox .m-form.m-code.m-hastitle .form-input .formcode-input{ background-color:#FFF; border:1px #CCD1D9 solid; border-radius: 3px;}
.m-findbox .m-form.m-code.m-hastitle.has-error .form-input .formcode-input{ border-color:#e75845;}
.m-findbox .m-form.m-code.m-hastitle.has-error .m-code-link{border-color:#e75845;}
.g-find .m-findbox .m-form.m-code.m-hastitle .form-input .formcode-input .form-control{border:none; width:205px; padding:12px;}
.m-findbox .m-form.m-code.m-hastitle .form-input .formcode-input .m-code-link{right:0;}
.m-findbox .m-form.m-hastitle .form-input .control-label{width:320px; text-align:left; line-height:20px; color:#404040;}
/*找回密提示*/
.u-pswtips{margin-top:60px; border: 1px #e9f7ee solid;
    background-color:#f5fdf9; padding:12px; font-size:12px;}
.u-pswtips .u-pswtips-ti{color:#404040;}
.u-pswtips .u-pswtips-in{line-height:20px; color:#9DA1A5; padding-top:5px;}
.m-findpsw-tips{margin:40px 0 80px 0;}
.m-findpsw-top{margin:0 0 40px 0; text-align:center; color:#404040; font-size:14px; word-break:break-all; }
.m-findpsw-top .m-name{color:#5FA3ED; font-weight:bold; }
.m-findpsw-top .u-sucicon img{width:26px; height:32px; margin-right:5px;}
.m-findpsw-tips .m-btn.m-btn-block.m-btn-normal{margin:0 auto; }
/*w-placeholder*/
.g-regin .m-form .form-input.w-placeholder .placeholder-text {position: relative; height: 100%; top: 0; left: 0; bottom: 0; }
.g-regin .m-form .form-input.w-placeholder .placeholder-text .placeholder-text-in { display: block; position: absolute;left:12px;top: 0; bottom: 0;height: 100%; color: #666; font-size: 14px; filter: alpha(opacity=50); -moz-opacity: 0.5; -webkit-opacity: 0.5  -ms-opacity: 0.5; -o-opacity: 0.5; opacity: 0.5; }
.g-regin .m-form .form-input.w-placeholder.has-icon .placeholder-text .placeholder-text-in{left:40px;}
.g-regin .m-form .form-input .form-control:-moz-placeholder {/*-font-*/color: #666; font-size: 14px;font-family: "Microsoft YaHei"; filter: alpha(opacity=50); -moz-opacity: 0.5; -webkit-opacity: 0.5; -ms-opacity: 0.5; -o-opacity: 0.5; opacity: 0.5; }
.g-regin .m-form .form-input .form-control::-moz-placeholder {/*-font-*/color: #666;font-size: 14px;font-family: "Microsoft YaHei";filter: alpha(opacity=50);-moz-opacity: 0.5;-webkit-opacity: 0.5;-ms-opacity: 0.5;-o-opacity: 0.5;opacity: 0.5; }
.g-regin .m-form .form-input input.form-control:-ms-input-placeholder{
/*-font-*/color: #666;font-size: 14px;font-family: "Microsoft YaHei";filter: alpha(opacity=50);-moz-opacity: 0.5;-webkit-opacity: 0.5;-ms-opacity: 0.5;-o-opacity: 0.5;opacity: 0.5; }
.g-regin .m-form .form-input input.form-control::-webkit-input-placeholder {/*-font-*/color: #666;font-size: 14px;font-family: "Microsoft YaHei";filter: alpha(opacity=50);-moz-opacity: 0.5;-webkit-opacity: 0.5;-ms-opacity: 0.5;-o-opacity: 0.5;opacity: 0.5; }
.g-regin .m-form .form-input .form-control::-ms-clear, ::-ms-reveal {display: none; }
/* balloon1*/
@-webkit-keyframes balloon1 {
0%, 100% {-webkit-transform: translateY(0) rotate(-6deg);}
50% {-webkit-transform: translateY(-20px) rotate(12deg);}}
@-moz-keyframes balloon1 {
0%, 100% {-moz-transform: translateY(0) rotate(-6deg);}
50% {-moz-transform: translateY(-20px) rotate(12deg);}}
@-o-keyframes balloon1 {
0%, 100% {-o-transform: translateY(0) rotate(-6deg);}
50% {-o-transform: translateY(-20px) rotate(12deg);}}
@keyframes balloon1 {
0%, 100% {transform: translateY(0) rotate(-6deg);}
50% {transform: translateY(-20px) rotate(12deg);}}
/* balloon2*/
@-webkit-keyframes balloon2 {
0%, 100% {-webkit-transform: translate(0, -10px) rotate(6eg);}
50% {-webkit-transform: translate(-50px, 50px) rotate(-16deg);}}
@-moz-keyframes balloon2 {
0%, 100% {-moz-transform: translate(0, -10px) rotate(6deg);}
50% {-moz-transform: translate(-50px, 50px) rotate(-16deg);}}
@-o-keyframes balloon2 {
0%, 100% {-o-transform: translate(0, -10px) rotate(6deg);}
50% {-o-transform: translate(-50px, 50px) rotate(-16deg);}}
@keyframes balloon2 {
0%, 100% {transform: translate(0, -10px) rotate(6deg);}
50% {transform: translate(-50px, 50px) rotate(-16deg);}}
/* balloon3*/
@-webkit-keyframes balloon3 {
0%, 100% {-webkit-transform: translate(0, -10px) rotate(6eg);}
50% {-webkit-transform: translate(-20px, 20px) rotate(-12deg);}}
@-moz-keyframes balloon3 {
0%, 100% { -moz-transform: translate(0, -10px) rotate(6eg);}
50% {-moz-transform: translate(-20px, 20px) rotate(-12deg);}}
@-o-keyframes balloon3 {
0%, 100% {-o-transform: translate(0, -10px) rotate(6eg);}
50% {-o-transform: translate(-20px, 20px) rotate(-12deg);}}
@keyframes balloon3 {
0%, 100% {transform: translate(0, -10px) rotate(6eg);}
50% { transform: translate(-20px, 20px) rotate(-12deg);}}
/* balloon4*/
@-webkit-keyframes balloon4 {
0%, 100% {-webkit-transform: translate(10px, -10px) rotate(-8eg);}
50% {-webkit-transform: translate(-15px, 20px) rotate(20deg);}}
@-moz-keyframes balloon4 {
0%, 100% {-moz-transform: translate(10px, -10px) rotate(-8eg);}
50% {-moz-transform: translate(-15px, 10px) rotate(20deg);}}
@-o-keyframes balloon4 {
0%, 100% {-o-transform: translate(10px, -10px) rotate(-8eg);}
50% {-o-transform: translate(-15px, 10px) rotate(20deg);}}
@keyframes balloon4 {
0%, 100% {transform: translate(10px, -10px) rotate(-8eg);}
50% {transform: translate(-15px, 10px) rotate(20deg);}}
/* fade-in*/
@-webkit-keyframes fade-in {
0%{opacity: .1;}
40% {opacity: .5;} 
100% {opacity: 1;}}
@-moz-keyframes fade-in {
0%{opacity: .1;}
40% {opacity: .5;} 
100% {opacity: 1;}}
@-o-keyframes fade-in {
0%{opacity: .1;}
40% {opacity: .5;} 
100% {opacity: 1;}}
@keyframes fade-in {
0%{opacity: .1;}
40% {opacity: .5;} 
100% {opacity: 1;}}
/* 2018-01-10 hy*/
.m-loginother{padding:30px 0 0 0; text-align:center; }
.m-othertop{ position:relative; width:100%;  }
.m-othertop:before,.m-othertop:after{content: "";width:30%; top:50%; height:1px; background-color:rgba(0,0,0,.1); position:absolute;}
.m-othertop:before{left:0;}
.m-othertop:after{right:0; }
.u-ctext{color:#ADB5C1; font-size:14px;}
.m-otherbot{padding-top:14px;}
.m-otherbot .m-otherlink{display:inline-block; width:38px; height:38px; line-height:38px; text-align:center; border:1px #65B2F0 solid; border-radius:50px; }
.m-otherbot .m-otherlink .mw-iconfont{font-size:24px; color:#65B2F0; }
.m-otherbot .m-otherlink:hover{background-color:#65B2F0; }
.m-otherbot .m-otherlink:hover .mw-iconfont{color:#FFF; }


